[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiokafka = "*"
pytest = "*"
pytest-asyncio = "*"
aiohttp = "*"
pytest-selenium = "*"

[requires]
python_version = "3.7"
